/* Dashboard and Account page containers */
.dashboard, .account-page {
  min-width: 360px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


/* Fit container to popup size and reduce padding for 600x360 */
.extension-container {
  min-width: 360px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  padding: 24px 16px 16px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto; /* Allow scrolling inside the container only */
}


.extension-container h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-right: 20px;
}



.extension-container button {
  padding: 12px 24px;
  font-size: 1em;
  cursor: pointer;
  background-color: #64ff71;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  width: 80%; /* Make button wide like a wallet */
}

.extension-container button:hover {
  background-color: #f25353;
}

.message {
  margin-top: 16px;
  font-size: 1.2em;
  color: #ff64e5;
}
